@import "../variables";
section#about {
  .container {
    .row > .col-md-7 {
      p > em {
        font-size: 1.1rem;
        color: #777777;
      }

      .group {
        h5 {
          color: #454545;
        }
      }
    }
  }
}
