@use "../global/index" as *;

#about {
  .container {
    .row {
      .col-lg-6 > ul._about-ul {
        line-height: 1.7;
        li {
          list-style: none;
        }
      }

      .about-img-2 {
        position: absolute;
      }

      @media (max-width: 991px) {
        .about-img-2 {
          position: static;
        }
      }
    }
  }
}
