@use "../global/index" as *;
header#header {
  z-index: 1;
  transition: 250ms ease-out;
}

@media screen and (max-width: 576px) {
  header#header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

._hide-dropdown {
  height: 0px;
}

#dropdown-navbar {
  transition: 500ms cubic-bezier(1, 0.17, 0.25, 1);
  overflow: hidden;
  height: 0px;
  .container > .row > ul > li {
    transition: 200ms;

    &:hover {
      background-color: lighten($dark, $amount: 5);
    }
  }
}
