@use "./variables" as *;

@mixin beforeList {
  margin-right: 10px;
  font-weight: 600;
  display: inline-block;
}

._section-header {
  line-height: 1.8;
  margin-bottom: 2rem;
  h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #343a40;
  }

  h2::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    margin-top: 0.8rem;
    background-color: $primary;
  }

  p {
    color: #777777;
  }
}

._smoke {
  color: #777777;
}

.active {
  background-color: $primary;
}

._lh-1-8 {
  line-height: 1.8;
}

._checked-list::before {
  content: "\2714";
  color: $primary;
  @include beforeList;
}

._checked-list-white {
  color: $light;
}

._checked-list-white::before {
  content: "\2714";
  color: $light;
  @include beforeList;
}

._na-list {
  text-decoration: line-through;
}

._na-list::before {
  content: "\10102";
  color: $primary;
  @include beforeList;
}

._na-list-white {
  text-decoration: line-through;
}
._na-list-white::before {
  content: "\10102";
  color: $light;
  @include beforeList;
}

._fit-content {
  width: fit-content;
}
