@font-face {
  font-family: "Akzidenz-Grotesk-Light";
  src: url("assets/fonts/Akzidenz-grotesk-light.ttf") format("truetype");
}

body {
  font-family: "Akzidenz-Grotesk-Light", sans-serif;
}

section {
  padding: 80px 0;
}

ul > li {
  list-style: none;
}
