@font-face {
  font-family: "AkzidenzGrotesk";
  src: url("assets/fonts/Akzidenz-grotesk-light.ttf") format("truetype");
}

body {
  font-family: "AkzidenzGrotesk", sans-serif;
}

section {
  padding: 80px 0;
}
